body {
  padding-top: 50px;
  margin-bottom: -21px;
}

#courses .btn-lg {
  padding: 18px;
}

.footer {
  border-radius: 0px;
  color: white;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.footer .social a {
  text-decoration: none;
}

.footer .social i {
  font-size: 150%;
  margin: 4px;
}

.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 0 10px black;
}

.video {
  height: 315px;
  padding-bottom: 15px;
  width: 100%;
}
